web-1.txt
[{"id":"4c2c2a9f.f61324","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"981e2acf.f2b058","type":"http in","z":"4c2c2a9f.f61324","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":210,"y":160,"wires":[["3c0cfc54.e1ec24"]]},{"id":"11a8f016.0e92a","type":"http response","z":"4c2c2a9f.f61324","name":"","statusCode":"","headers":{},"x":550,"y":180,"wires":[]},{"id":"3bf40bf7.0e9634","type":"debug","z":"4c2c2a9f.f61324","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":260,"wires":[]},{"id":"ecd4bcff.5e545","type":"rpi-gpio in","z":"4c2c2a9f.f61324","name":"gpio","pin":"7","intype":"up","debounce":"25","read":true,"x":100,"y":240,"wires":[["ca663f65.03f1"]]},{"id":"3c0cfc54.e1ec24","type":"function","z":"4c2c2a9f.f61324","name":"get","func":"msg.payload=global.get(\"gpio\");\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["11a8f016.0e92a","3bf40bf7.0e9634"]]},{"id":"ca663f65.03f1","type":"function","z":"4c2c2a9f.f61324","name":"set","func":"global.set(\"gpio\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["3bf40bf7.0e9634"]]}]